<article class="log-in w-50 mx-auto">
  <div class="container">
    <h3 class="mt-5 mb-3"> Forgot Password? </h3>
    <p>Just enter your email — we’ll send you a secure OTP to reset your password.</p>
    @if(responseErrorMessage) {
    <div class="alert alert-danger" role="alert">
      {{responseErrorMessage}}
    </div>
    }
    <div class="row">
      <form (ngSubmit) = "handleForgotPassword()" [formGroup]="forgotPasswordObj">

        <div class="form-floating mb-3">
          <input formControlName="email" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label class="ps-3" for="floatingEmail">Email address <span class="text-danger">*</span></label>
          @if (forgotPasswordObj.get('email')?.touched) {
            <div class="ms-3 mt-2">
              @if (forgotPasswordObj.get('email')?.getError('required')) {
                <p class="text-danger" >Please enter your email address</p>

              } @else if (forgotPasswordObj.get('email')?.getError('email')) {
                <p class="text-danger fs-6" >Please enter a valid email address.</p>
              }
            </div>
          }
        </div>
        <button [disabled]="forgotPasswordObj.invalid" class="btn bg-main text-light mt-4 btn-login w-100">Continue</button>
        <button type="button" routerLink="/login" class="btn btn-secondary mt-3 w-100">Cancel</button>
      </form>
    </div>
  </div>
</article>