<div class="search-wrapper mb-3 mt-5">
  <div class="search-input-group">
    <i class="fa fa-search search-icon" aria-hidden="true"></i>
    <input
      [(ngModel)]="search"
      class="form-control search-input"
      type="search"
      placeholder="Search products, categories or brands"
      aria-label="Search products"
    />
    <button *ngIf="search" type="button" class="btn clear-btn" (click)="search=''" aria-label="Clear search">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
</div>

<input [(ngModel)]="search"  class="form-control me-2 d-none" type="search" placeholder="Search"/>
<div class="row row-cols-sm-2 row.cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 mt-3">
  @for (product of (productsList | searchProduct: search); track product._id) {
  <div class="col">

    <app-product [product]="product"></app-product>
  </div>

  }
</div>