<footer class="footer mt-5">
  <div class="container">
    <div class="row g-4 mb-4">
      <div class="col-lg-5">
        <h3 class="brand-title">ÉLÉGANCE</h3>

        <p class="footer-desc">
          Timeless pieces crafted with care. Subscribe to receive exclusive
          offers and updates.
        </p>

        <div class="input-group">
          <input type="email" class="email-input" placeholder="Your email" />
          <button class="subscribe-btn">Subscribe</button>
        </div>
      </div>

      <div class="col-6 col-lg-2">
        <h5 class="footer-title">Shop</h5>
        <ul class="footer-list">
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Collections</a></li>
          <li><a href="#">Sale</a></li>
          <li><a href="#">Gift Cards</a></li>
        </ul>
      </div>

      <div class="col-6 col-lg-2">
        <h5 class="footer-title">About</h5>
        <ul class="footer-list">
          <li><a href="#">Our Story</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>

      <div class="col-6 col-lg-2">
        <h5 class="footer-title">Support</h5>
        <ul class="footer-list">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p class="copyright">
        © 2024 Élégance. All rights reserved.
      </p>

      <div class="social-icons">
        <a href="#" class="social-link"></a>
        <a href="#" class="social-link"></a>
        <a href="#" class="social-link"></a>
      </div>
    </div>
  </div>
</footer>
