<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Fresh Cart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      @if(isLoggedInUser == true) {
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="cart">Cart</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="brands">Brands</a>
        </li>

      </ul>
      }
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
        @if(isLoggedInUser == false) {

        <li class="nav-item login">
          <a class="nav-link text-center" routerLinkActive="active" routerLink="login">Log in</a>
        </li>
        <li class="nav-item signup">
          <a class="nav-link text-center " routerLinkActive="active" routerLink="signup">Create account</a>
        </li>

      } @else {
        <li>
        <a routerLink="wishlist" class="position-relative me-4">
          <i class="fa-solid fa-heart fa-lg"></i>
          <!-- <span class=" position-absolute top-0 start-100 translate-middle rounded-pill badge text-bg-primary">
            0
            <span class="visually-hidden">unread messages</span>
          </span> -->
        </a>
        </li>
        <li>
        <a routerLink="cart" class="position-relative me-3">
          <i class="fa-solid fa-cart-shopping fa-lg"></i>
          <!-- <span class=" position-absolute top-0 start-100 translate-middle rounded-pill badge text-bg-primary">
            0
            <span class="visually-hidden">unread messages</span>
          </span> -->
        </a>
        </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{userName}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="profileSetting">Settings</a></li>
              <li><a class="dropdown-item" (click)="logoutUser()">Log out</a></li>
            </ul>
          </li>

        }
      </ul>
    </div>
  </div>
</nav>