.btn-signup {
  padding:0.5rem 4rem;
}

.btn-signup:hover {
  background-color: #0A47C3  !important;
}

.login-link {
  color: #3B82F6;
  cursor: pointer;
}

@media (max-width: 576px) { 
  .sign-up {
    width: 100% !important;
  }
}

@media (max-width: 991.98px) {
    .sign-up {
    width: 100% !important;
  }
}