<article class="not-found text-dark">
    <div class="d-flex align-items-center justify-content-center px-2">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-2 fw-medium">Oops! Page not found</p>
            <p >The page you're looking for doesn't exist or has been moved.</p>
            <a routerLink="/home" class="btn bg-main text-light fw-semibold px-4 py-2">
                Go Home
            </a>
        </div>
    </div>
</article>