<article class="log-in w-50 mx-auto">
  <div class="container">
    <h3 class="mt-5 mb-3">Welcome back</h3>
    @if(responseErrorMessage) {
    <div class="alert alert-danger" role="alert">
      {{responseErrorMessage}}
    </div>
    }
    <div class="row">
      <form (ngSubmit)="submitLogInForm()" [formGroup]="logInFormObj">

        <div class="form-floating mb-3">
          <input formControlName="email" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label class="ps-3" for="floatingEmail">Email address <span class="text-danger">*</span></label>
          @if (logInFormObj.get('email')?.touched) {
            <div class="ms-3 mt-2">
              @if (logInFormObj.get('email')?.getError('required')) {
                <p class="text-danger" >Please enter your email address</p>

              } @else if (logInFormObj.get('email')?.getError('email')) {
                <p class="text-danger fs-6" >Please enter a valid email address.</p>
              }
            </div>
          }
        </div>
        <div class="form-floating mb-3">
          <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label class="ps-3" for="floatingPassword">Password <span class="text-danger">*</span></label>
          @if (logInFormObj.get('password')?.touched) {
            <div class="ms-3 mt-2">
              @if (logInFormObj.get('password')?.getError('required')) {
                <p class="text-danger" >Please enter your password.</p>

              } @else if (logInFormObj.get('password')?.getError('minlength')) {
                <p class="text-danger fs-6" >Password must be at least 6 characters.</p>

              } @else if (logInFormObj.get('password')?.getError('maxlength')) {
                <p class="text-danger fs-6" >	Password can be at most 20 characters.</p>

              } @else if (logInFormObj.get('password')?.getError('pattern')) {
                <p class="text-danger fs-6" >	Add at least one letter and one number to make your password stronger.</p>
              }
            </div>
          }
        </div>
                <button [disabled]=" logInFormObj.invalid || isLoading" class="btn bg-main text-light mt-4 btn-signup w-100">
          @if(isLoading == false) {
            Log in
          } @else {

            <span class="spinner-border spinner-border-sm" role="status"></span>
          }
        </button>
      </form>
      <p class="text-center mt-4"><a class="signup-link" routerLink="/forgotPassword">Forgot password? </a></p>
      <p class="text-center">Don't have an account? <a class="signup-link" routerLink="/signup">Sign up now</a>.</p>
    </div>
  </div>
</article>