.btn-login {
  padding:0.5rem 4rem;
}

.btn-login:hover {
  background-color: #0A47C3  !important;
}

.signup-link {
  color: #3B82F6;
  cursor: pointer;
}


@media (max-width: 576px) { 
  .log-in {
    width: 100% !important;
  }
}

@media (max-width: 991.98px) {
    .log-in {
    width: 100% !important;
  }
}