<article class="log-in w-50 mx-auto">
  <div class="container">
    <h3 class="mt-5 mb-3">Check your email</h3>
    <p>We’ve sent a 6-digit code. Enter it below to continue resetting your password.</p>
    @if(responseErrorMessage) {
    <div class="alert alert-danger" role="alert">
      {{responseErrorMessage}}
    </div>
    }
    <p></p>
    <div class="row">
      <form (ngSubmit) ="handleVerifyCode()" [formGroup]="verifyCodeForm">

        <div class="form-floating mb-3">
          <input formControlName="resetCode" type="text" class="form-control" id="verifyCode" placeholder="Enter 6-digit code">
          <label class="ps-3" for="verifyCode">Enter 6-digit code <span class="text-danger">*</span></label>
          @if (verifyCodeForm.get('resetCode')?.touched) {
            <div class="ms-3 mt-2">
              @if (verifyCodeForm.get('resetCode')?.getError('required')) {
                <p class="text-danger" >Please enter the code.</p>

              }
            </div>
          }
        </div>
        <button [disabled]=" verifyCodeForm.invalid || isLoading" class="btn bg-main text-light mt-4 btn-login w-100">
          @if(isLoading == false) {
            <span>Verify</span>
          } @else {
            <span class="spinner-border spinner-border-sm" role="status"></span>
          }
        </button>
      </form>
    </div>
  </div>
</article>