<article class="log-in w-50 mx-auto">
  <div class="container">
    <h3 class="mt-5 mb-3">Create a new password</h3>
    <p>Make sure it’s something secure and easy to remember.</p>
    @if(responseErrorMessage) {
    <div class="alert alert-danger" role="alert">
      {{responseErrorMessage}}
    </div>
    }
    <p></p>
    <div class="row">
      <form (ngSubmit) ="handleRestPassword()" [formGroup]="resetPasswordForm">
        <div class="form-floating mb-3">
          <input formControlName="email" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
          <label class="ps-3" for="floatingEmail">Email address <span class="text-danger">*</span></label>
          @if (resetPasswordForm.get('email')?.touched) {
            <div class="ms-3 mt-2">
              @if (resetPasswordForm.get('email')?.getError('required')) {
                <p class="text-danger" >Please enter your email address</p>

              } @else if (resetPasswordForm.get('email')?.getError('email')) {
                <p class="text-danger fs-6" >Please enter a valid email address.</p>
              }
            </div>
          }
        </div>

        <div class="form-floating mb-3">
          <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="Password">
          <label class="ps-3" for="newPassword">New Password <span class="text-danger">*</span></label>
          @if (resetPasswordForm.get('newPassword')?.touched) {
            <div class="ms-3 mt-2">
              @if (resetPasswordForm.get('newPassword')?.getError('required')) {
                <p class="text-danger" >Please create a new Password.</p>

              } @else if (resetPasswordForm.get('newPassword')?.getError('minlength')) {
                <p class="text-danger fs-6" >Password must be at least 6 characters.</p>

              } @else if (resetPasswordForm.get('newPassword')?.getError('maxlength')) {
                <p class="text-danger fs-6" >	Password can be at most 20 characters.</p>

              } @else if (resetPasswordForm.get('newPassword')?.getError('pattern')) {
                <p class="text-danger fs-6" >	Add at least one letter and one number to make your password stronger.</p>
              }
            </div>
          }
        </div>
        <button [disabled]=" resetPasswordForm.invalid || isLoading" class="btn bg-main text-light mt-4 btn-login w-100">
          @if(isLoading == false) {
            <span>Reset Password</span>
          } @else {
            <span class="spinner-border spinner-border-sm" role="status"></span>
          }
        </button>
      </form>
    </div>
  </div>
</article>